@charset 'UTF-8';

@font-face {
    font-family: "FontAwesome";
    src: url("fonts/fontawesome-webfont.eot?v=3.0.1");
    src: url("fonts/fontawesome-webfont.eot?#iefix&v=3.0.1")
            format("embedded-opentype"),
        url("fonts/fontawesome-webfont.woff?v=3.0.1") format("woff"),
        url("fonts/fontawesome-webfont.ttf?v=3.0.1") format("truetype"),
        url("fonts/fontawesome-webfont.svg#FontAwesome") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Font-Awesome-Social";
    src: url("fonts/fontawesome-social-webfont.eot");
    src: url("fonts/fontawesome-social-webfont.eot?#iefix")
            format("embedded-opentype"),
        url("fonts/fontawesome-social-webfont.woff") format("woff"),
        url("fonts/fontawesome-social-webfont.ttf") format("truetype"),
        url("fonts/fontawesome-social-webfont.svg#Font-Awesome-More")
            format("svg");
    font-weight: normal;
    font-style: normal;
}

/*********************************************************************************/
/* Icons                                                                         */
/*********************************************************************************/

/*
		Powered by:
		
		Font Awesome (http://fortawesome.github.com/Font-Awesome/)
		Font Awesome More (http://gregoryloucas.github.com/Font-Awesome-More/)
	*/

.icon {
    text-decoration: none;
}

.icon:before {
    font-size: 1.25em;
    text-decoration: none;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-font-feature-settings: "liga" 1, "dlig" 1;
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga" 1, "dlig" 1;
    -o-font-feature-settings: "liga" 1, "dlig" 1;
    font-feature-settings: "liga" 1, "dlig" 1;
}

.icon-blogger-sign:before,
.icon-blogger:before,
.icon-delicious:before,
.icon-dribbble-sign:before,
.icon-dribbble:before,
.icon-dropbox:before,
.icon-drupal:before,
.icon-evernote-sign:before,
.icon-evernote:before,
.icon-flickr-sign:before,
.icon-flickr:before,
.icon-forrst-sign:before,
.icon-forrst:before,
.icon-foursquare-sign:before,
.icon-foursquare:before,
.icon-git-fork:before,
.icon-hacker-news:before,
.icon-instagram:before,
.icon-lastfm-sign:before,
.icon-lastfm:before,
.icon-paypal:before,
.icon-picasa-sign:before,
.icon-picasa:before,
.icon-reddit:before,
.icon-share-this-sign:before,
.icon-share-this:before,
.icon-skype:before,
.icon-soundcloud:before,
.icon-spotify:before,
.icon-stack-overflow:before,
.icon-tumblr-sign:before,
.icon-tumblr:before,
.icon-vimeo-sign:before,
.icon-vimeo:before,
.icon-wordpress-sign:before,
.icon-wordpress:before,
.icon-yelp-sign:before,
.icon-yelp:before,
.icon-youtube-sign:before,
.icon-youtube:before {
    font-family: "Font-Awesome-Social";
}

html,
body {
    /* background: #0c1753 url(images/bg02.jpg) repeat; */
    font-family: "Open Sans", sans-serif;
    font-size: 11pt;
    color: #5b5b5b;

    scroll-behavior: smooth;
    height: 100%;
    background-color: blanchedalmond !important;
}


h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 1.6em;
}

p,
ol,
ul {
    margin-top: 0px;
}

p {
    line-height: 180%;
}

strong {
}

a {
    color: #222222;
}

a:hover {
    text-decoration: none;
}

a img {
    border: none;
}

img.border {
}

img.alignleft {
    float: left;
}

img.alignright {
    float: right;
}

img.aligncenter {
    margin: 0px auto;
}

hr {
    display: none;
}

.title {
    border-bottom: solid 1px #dbdbdb;
    margin: 0 0 3em 0;
    text-align: center;
    text-transform: uppercase;
}

.title:after {
    content: "";
    display: block;
    border-top: solid 1px #dbdbdb;
    height: 8px;
}

.title h2 {
    margin: 0 0 1em 0;
    font-weight: 700;
}

.title .byline {
    position: relative;
    top: -2em;
    font-weight: 700;
    font-size: 1.1em;
    color: #8e8e8e;
}

ul.contact {
    overflow: hidden;
    margin: 0em 0 5em 0;
    padding-top: 1em;
    text-align: center;
}

ul.contact li {
    display: inline-block;
    margin-right: 0.5em;
    font-size: 1.2em;
}

ul.contact li span {
    display: none;
    margin: 0;
    padding: 0;
}

ul.contact li a {
    color: #fff;
}

ul.contact li a:before {
    display: inline-block;
    background: #3f3f3f;
    width: 56px;
    height: 56px;
    border-radius: 8px;
    line-height: 56px;
    text-align: center;
    color: #ffffff;
}


.button {
    display: inline-block;
    margin-top: 2em;
    padding: 1em 3em;
    background: #c4376b;
    border-radius: 7px;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em;
    color: #fff;
}

.button:hover {
    background: #d64077;
}

.button:active {
    background: #bd3567;
}

/** WRAPPER */

#wrapper {
}

.wrapper-style1 {
    overflow: hidden;
    width: 1200px;
    margin: 0px auto;
    padding: 3em 0em;
}

.container {
    width: 1200px;
    margin: 0px auto;
}

.clearfix {
    clear: both;
}

.image {
    display: inline-block;
}

.image img {
    display: block;
    width: 100%;
}

.image-full {
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
}

.image-left {
    float: left;
    margin: 0 2em 2em 0;
}

.image-centered {
    display: block;
    margin: 0 0 2em 0;
}

.image-centered img {
    margin: 0 auto;
    width: auto;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header {
    position: relative;
    /* margin-left: -100px; */
    margin-bottom: 10px;
    height: 5em;
    background-color: #c4376b;
    /* border-bottom: 1px solid #dbdbdb; */<li  class="current_page_item">
        <a href="{{ url('/') }}" accesskey="1" title="">Beranda</a>
    </li>
    <li>
        <a href="{{ url('/food') }}" accesskey="2" title="">Makanan</a>
    </li>
    <li>
        <a href="{{ url('/drink') }}" accesskey="2" title="">Minuman</a>
    </li>
    <li>
        <a href="{{ url('/about') }}" accesskey="2" title="">Tentang</a>
    </li>
    <li>
        <a href="{{ url('/contact') }}" accesskey="2" title="">Kontak</a>
    </li>
}

.navbar {
    position: relative;
    margin-left: -100px;
}
/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo {
    position: absolute;
    top: 3.2em;
    left: 0;
    width: 100%;
    margin-top: -0.5em;
}

#logo h1 {
    display: inline-block;
    padding: 0.8em 1.3em 0.6em 0.5em;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 900;
    color: #404040;
}

.homepage #logo h1 {
    display: inline-block;
    padding: 0.6em 1.3em;
    font-size: 2.7em;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 700;
    color: #404040;
}

#logo a {
    text-decoration: none;
}

/*********************************************************************************/
/* Menu                                                                           */
/*********************************************************************************/

#menu {
    position: absolute;
    margin-left: 250px;
    top: 1em;
}

.homepage #menu {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

#menu > ul > li > ul {
    display: none;
}

#menu ul {
    display: inline-block;
}

#menu li {
    display: block;
    float: left;
    text-align: center;
}

#menu li a,
#menu li span {
    display: block;
    padding: 0.8em 1.5em;
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    outline: 0;
    color: #595959;
}

#menu li:hover a,
#menu li.active a,
#menu li.active span {
}

#menu .current_page_item a {
    /* background: #07e94a; */
    border-radius: 8px;
    color: #fff;
}

/** PAGE */

#page {
}

/** CONTENT */

#content {
}

/** SIDEBAR */

#sidebar {
}

/* Footer */

#footer {
    overflow: hidden;
    padding: 5em 0em;
    text-align: center;
    margin-bottom: -8em;
}

#footer p {
}

#footer a {
}

#footer header {
    margin-bottom: 2em;
    text-align: center;
}

#footer .title {
    display: inline-block;
    text-align: center;
    font-size: 1em;
}

#footer .title h2 {
    margin: 0 0 1em 0;
    font-weight: 700;
}

#footer .title .byline {
    position: relative;
    padding: 0em 2em;
    top: -2em;
    font-weight: 700;
    font-size: 1.1em;
}

#welcome 

#welcome p {
    padding: 0em 4em;
    text-align: center;
    font-size: 1.1em;
}

#portfolio {
    text-align: center;
}

#column1,
#column2,
#column3,
#column4 {
    width: 282px;
}

#column1,
#column2 {
    float: left;
    margin-right: 24px;
}

#column3 {
    float: left;
}

#column4 {
    float: right;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #c4376b;
    font-size: 35px;
}
